div, input, textarea {
  box-sizing: border-box;
}

body {
margin: 0px;
}

.App {
  text-align: left;
  margin: 20px;
}

.left-container {
  width: 50%;
  float: left;
}

.right-container {
  width: 50%;
  float: left;
}

.list {
  background-color: azure;
  border: 2px solid black;
  width: 40%;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 6px;
  border-radius: 10px;
  position: relative;
}

.modal {
  background-color: whitesmoke;
  text-align: left;
  border: 2px dashed black;
  border-radius: 10px;
  width: 80%;
  padding: 10px;
}

.inputbox {
  border: 1px solid black;
  border-radius: 5px;
  font-size: 18px;
  margin: 5px;
}

.deletebox {
  position: absolute;
  bottom: 10px;
  right: 10px;
}